button {
	padding: 0px;
	border: none;
}
button a:hover {
	background-color: #fff;
	color: #4285f4!important;
}
button a {
	color: #fff!important;
	margin: 0px;
	padding: 5px 10px;
	font-size: 1rem;
	border-radius: 3px;
	background-color: #4285f4;
	border: 1px solid #4285f4;
}
button.remove-button a:hover {
	background-color: #fff;
	color: #e5062f!important;
	border: 1px solid #e5062f;
}
h3 {
	color: #edeff2;
}
.card-header {
	background-color: #4285f4;
}
.card {
	margin-top: 2.5rem;
}
.pagination-div {
	margin-bottom: 3rem;
}