body { 
	background-color: #fff;
	margin: 0;
	padding: 0px ;
	font-family: sans-serif, verdana;
}
#top{
	background-color:lightgreen;
}
#add{
	background-color:pink;
}
#contact{
	margin: 4px;
	text-align: left;
	padding: 2px 10px 2px 10px;
	font-size: 15px;
	color: black;
	margin-right: 20%;
	margin-left: 20%;
}
#mid{
	background-color:lightyellow;
}
	span:hover {
    position: relative;
}
span[title]:hover:after 
{
     content: attr(title);
     padding: 10px 15px;
     position: absolute;
     right: 50%;
     top: 100%;
     white-space: nowrap;
     z-index: 20px;
     background: #ff1493;
     color: #fff;
     border-radius: 5px;
}
.login {
	margin-left: 20%;
	margin-top: 30px;
	/*position: absolute;*/
	width: 40%;
	border:1px solid #009999;
	border-radius: 4px;
	text-align: left;
	background-color: #2ba77b;
	color: #bbdbcd;
	line-height: 25px;
	float: left;
	padding-left: 20%;
	padding-top: 40px;
}
#login_submit {
	margin-top: 10px;
	margin-bottom: 15px;
	width: 130px;
	padding: 10px;
	color: #12845d;
	background-color: #fff;
	border-radius: 3px;
	border: none;
	font-size: 18px; 
}

form input {
	margin-bottom: 10px;
	margin-left: 15%;
	padding: 5px;
	background-color: #12845d;
	color: #fff;
	border: none;
	width:40%;
	font-size: 150%;
}
input[type=email] {
	text-align: right;
}

form input#login-phn 
{
	margin-left: 8%;
}
#cancel {
	margin-top: 10px;
	margin-bottom: 14px;
	width: 130px;
	padding: 8px;
	color: #12845d;
	background-color: #fff;
	border-radius: 3px;
	border: none;
	font-size: 18px; 
	margin-left: 50px;
}


#login_submit:hover {
	/*border: 1px solid #12845d;*/
	color: #12845d;
	background-color: #bbdbcd;
}


a
{
    
    color: black;
    padding: 6px 15px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a img
{
	width:90px;
	height:90px;

}

a:hover 
{
    color: red;
}
ul.my-pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.my-pagination li {display: inline;}

ul.my-pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ff1493;
    border-radius: 25px;
    margin-left: 5px;
    color: #ff1493;
}

ul.my-pagination li a.active {
    background-color: #ff1493;
    color: white;
    border: 1px solid #ff1493;
}

ul.my-pagination li a:hover:not(.active) {
	border-color: #3385ff;
	color: #e6f0ff;
	background-color: #3385ff;
}
